@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
   
}
body{
    font-family: Inter;
    color: white;
    background-color: black;
}
/* default style */

.hide{
    display: none;
}

.primary-btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    height: 50px;
}
.secondery-btn{
    border-radius: 42px;
    background: rgb(5, 4, 4);
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    width: 200px;
    height: 50px;
    color: white;
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
}


/* header section style navbar */
.header-section{
    width: 100%;
    background: linear-gradient(180.00deg, rgba(65, 64, 64, 0.448),rgba(66, 58, 58, 0) 100%);
    height: 600px;
    /* border: 3px solid rgb(215, 27, 27); */
   
}
.navigation{
    display: flex;
    width: 80%;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* margin: 0 100px; */
    margin: 0 auto;
    align-items: center;
    
   
}
 .logo{
    /* margin-left: 20px; */
    font-style: italic;
    color: rgb(230, 83, 60);
    font-weight: 700;
    font-size: 3rem;
    margin-top: 40px;
    /* display: none; */

}
.nav-options .nav-ul{
    margin-top: 40px;
    display: flex;
    gap: 50px;
    /* justify-content: space-around; */
    /* margin-right: 20px; */
    /* border: 1px solid red; */
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.255);
    border-radius: 39px;
    /* display: none; */
    

}

.nav-options ul li{
    list-style: none;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-weight: 400px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.nav-span{
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    border-radius: 46px;
    /* width: 100px;
    height: 200px; */
    background: rgb(230, 83, 60);
    margin-left: -35px;
    color: white;
}
.nav-options ul li a{
    text-decoration: none;
    color: white;
}
 .bars{
    font-size: 30px;
    color: white;
    margin-top: 40px;
    cursor: pointer;
    display: none;

}

/* line brake navbar */
@media screen and (max-width:576px) {
   
    .logo{
        font-size: 2rem;
        margin-left: 10px;
        font-weight: 700;
    }
    .nav-options .nav-ul{
        display: none;
       
    }
    .bars{
        display: block;
        font-size: 25x;
        font-weight: 400;
        margin-right: 20px;
    }
}

@media screen and (max-width:992px) {
    .nav-options .nav-ul{
        display: none;

    }
    .bars{
        display: block;
    }
}

/* nav-section end */

/* header content style start */

.header-content{
    display: flex ;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 50px;
    gap: 80px;
}
.header-content-1{
    width: 50%;
    /* border: 1px solid red; */
    align-items: center;
   
   
}
.shape{
    font-family: 'Miama', sans-serif;                                              
    font-weight: 300;
    font-size:6rem;
}
.header-content-1 h1{
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    margin-top: 30px;
}
.header-content-1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
    margin-bottom: 30px;
}
.header-button{
    display: flex;
   

   
}
.header-img{
    background-image: url("../images/Images 2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50%;
    height: 500px;
    /* border: 1px solid red; */
    
}
.card-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 180px;
    height: 90px;
    margin-top: 380px;
   
    
}
.play-button{
    width: 40px ;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid red;
}
.triangle-right {
	width: 0px;
	height: 0px;
    margin-top: 5px;
    margin-left: 12px;
	border-top: 15px solid transparent;
	border-left: 20px solid #f2f0f0;
	border-bottom: 15px solid transparent;
    
}
.card-img-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 180px;
    height: 90px;
    margin-top: -350px;
    margin-left: 250px;
    /* border: 1px solid red; */
    
}

.card-img h2{
    font-size: 1.5rem;
    text-align: left;
    
}
.card-img p{
    font-size: 12px;
    color: rgba(239, 237, 232, 0.65);
   
}
.card-img-2 h2{
    font-size: 1.5rem;
    text-align: left;
    margin-left: -50px;
}
.card-img-2 p{
    font-size: 12px;
    color: rgba(239, 237, 232, 0.65);
}


.icons{
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* responsive */
@media screen and (max-width:576px) {
        /* .body{
            width: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        } */
        .header-content{
            display: flex;
            flex-direction: column;
           
        }
        .header-content-1{
            width:100% ;
            margin: 0 auto;
            /* border: 1px solid red; */
        }
        .header-img{
            width: 100%;
            height: 500px;
            /* border: 1px solid red; */
        }
        
        .card-img{
            width: 140px;
            height: 80px;
        }
        .card-img-2{
            
            width: 140px;
            height: 80px;
            margin-left: 200px;
          
            /* margin-right: 0px; */
        }

        .primary-btn, .secondery-btn{
            width:150px;
            height: auto;
            font-size: 12px;
            padding: 10px 5px;
           
            
        }
       
        .header-content-1 h1{
            font-size: 2rem;
            font-weight: 900;
            /* border: 1px solid red; */
            width: 300px;
            height: 170px;
            line-height: 50px;
            margin-top: -2px;
            margin-bottom: 20px;
        }
        .header-content-1 p{
            font-size: 1rem;
            font-weight: 400;
            line-height: 22px;
            color: rgba(255, 255, 255, 0.5);
           
            width: 250px;
            height: 100px;
            /* border: 1px solid red; */
            margin-top: -2px;
        }
}

/* header content style end */

/* habit list style start */
.change-your-habit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 80%;
    height: 500px;
    margin: 0px auto;
    margin-top: 80px;
    margin-bottom: 20px;
    /* margin-bottom: 50px; */
    padding: 0px;
}
.habit-details{
    margin-top: -40px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-details h1{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);


}
.habit-details p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.habit-list{
    width: 80%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin: 0 50px;
    gap: 20px;
    /* border: 1px solid red; */
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    /* border: 1px solid red; */
    text-align: center;
}
.skill-img{
    width: 150px;
    border-radius: 50%;
    border: 1px solid rgb(137, 130, 117);
    
}
.skill h3{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;

}
.skill p{
    font-size: 12px;
    font-weight: 400px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
}

/* habit list style end */
@media screen and (max-width:576px) {
    .change-your-habit{
       display: flex;
       flex-direction: column;
       margin-top: 1000px;
       /* border: 1px solid red; */
    }
    .habit-details{
        /* border: 1px solid red; */
    }
    .habit-list{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
    
    }
    .skill{
        /* border: 1px solid red; */
        margin-top: -20px;
    }
    .habit-details h1{
        font-size: 1.5rem;
        font-weight: 900;
        color: rgb(255, 255, 255);
    
    
    }
    .habit-details p{
        font-size: 12px;
        padding: 10px 50px;
        text-align: center;
        line-height: 16px;
    }
    .skill p{
        font-size: 12px;
        width: 200px ;
        /* border: 1px solid red; */
    }
}

/* run extra style start */


.run-extra{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    border-radius: 18px;

    background: rgb(34, 34, 34);
}

.run-content{
    width: 40%;
    /* border: 1px solid red; */
    padding: 50px;


}
.run-content h1{
    font-size: 3rem;
    font-weight: 900;

}
.run-content p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 18px;
    
    margin-top: 10px;
    margin-bottom: 30px;
}


.run-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    object-fit: contain;
    
}
.run{
    width: 300px;
    height: 250px;
    border-radius: 18px;
    object-fit: none;
    object-position: 65% 29% ;
  
   
}
.primary-btn-run{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    height: 50px;
}

 /* run extra style end */
    @media screen and (max-width:576px) {
        .run-extra{
            display: flex;
            flex-direction: column;
            /* border: 1px solid red; */
            margin-top: 400px;
        }
        .run-content{
            width: 65%;
            /* border: 1px solid red; */
            
        }
        .run-content h1{
            font-size: 1.5rem;
            /* margin-left: -10px; */
        }
        .run-content p{
            width: 120%;
            font-size: 12px;
            /* border: 1px solid red; */
            /* margin-left: -10px; */
        }
        .run-images{
            width: 50%;
            /* height: 50%; */
            /* border: 1px solid red; */
            /* margin-left: 30px; */
            
            
        }
        .run{
            width: 150%;
            height: 80%;
            margin-left: 180px;
            object-fit:cover;
            margin-bottom: 20px;
            
        }
        .primary-btn-run{
            width: 100%;
        }
    }



 /* bmi section style start */
 .bmi-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
    width: 40%;
    height: 100px;
    margin: 50px auto;
    /* border: 1px solid red; */
}
.bmi-section h1 {
    font-size: 2rem;
    font-weight: 800;
    
}

.bmi-section p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 18px;
    margin-top: 10px;
}

@media screen and (max-width:576px) {
    .bmi-section{
        width: 80%;
    }
}

/* our plan section style start */
    .our-plan-section-pricing{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        height: 600px;
        /* border: 1px solid red; */
    }
    .pricing-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        /* border: 1px solid red; */
        width: 65%;
        height: 70%;
        /* margin: 20px 0; */
    }
    .our-plan{
        /* border: 1px solid red; */
        text-align: center;
        width: 50%;
        /* margin: 20px 0; */
        padding: 20px 0;
        margin-top: 30px;
    }
    .our-plan p{
        font-size: 14px;
        font-weight: 700;
        color: rgb(230, 83, 60);
    }
    .our-plan h3{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .pricing-cards-1 ,.pricing-cards-2,.pricing-cards-3{
        border: 1px solid  rgba(255, 255, 255, 0.5);
        margin-top: 20px;
        border-radius: 8px;
        width: 250px;
        height: 400px;
        text-align: center;
    }
  
    /* .pricing-cards-1  */
    .pricing-cards-1 h2{
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0;
    }
    .pricing-cards-1 h1{
        font-size: 40px;
        font-weight: 800;
        color:rgb(230, 83, 60) ;
    }
    .pricing-cards-1 h5{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        margin-top: -5px;
        margin-bottom: 20px;
    }
    .pricing-cards-1 p{
        font-size: 12px ;
        font-weight: 300;
        margin: 10px 0;
        color: rgba(255, 255, 255, 0.794);
    }
    /* .pricing-cards-2 */
    .pricing-cards-2 h2{
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0;
    }
    .pricing-cards-2 h1{
        font-size: 40px;
        font-weight: 800;
        color:rgb(230, 83, 60) ;
    }
    .pricing-cards-2 h5{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        margin-top: -5px;
        margin-bottom: 20px;
    }
    .pricing-cards-2 p{
        font-size: 12px ;
        font-weight: 300;
        margin: 10px 0;
        color: rgba(255, 255, 255, 0.794);
    }
    /* .pricing-cards-3 */

    .pricing-cards-3 h2{
        font-size: 20px;
        font-weight: 700;
        margin: 20px 0;
    }
    .pricing-cards-3 h1{
        font-size: 40px;
        font-weight: 800;
        color:rgb(230, 83, 60) ;
    }
    .pricing-cards-3 h5{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        margin-top: -5px;
        margin-bottom: 20px;
    }
    .pricing-cards-3 p{
        font-size: 12px ;
        font-weight: 300;
        margin: 10px 0;
        color: rgba(255, 255, 255, 0.794);
    }


    /* pricing-card-btn */
    .pricing-card-btn{
        font-size: 16px;
        width: 200px;
        margin-top: 40px;
        padding: 8px 0;
        color: white;
        background-color:rgb(230, 83, 60) ;
        border-radius: 3px;
        border: none;
    }

/* our plan section style end */
    @media screen and (max-width:576px) {
        .our-plan-section-pricing{
            display: flex;
            flex-direction: column;
            height: auto;
            /* border: 1px solid red; */
        }
        .pricing-cards{
            display: flex;
            flex-direction: column;
            /* border: 1px solid red; */
        }
        .pricing-cards-1,.pricing-cards-2,.pricing-cards-3{
            /* border: 1px solid red; */
            margin-left: 30px;
        }
    }        


/* bmi contant section styel */

.bmi-calculation{
    width: 100%;
    height: auto;
   
  
    /* border: 1px solid red; */
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mbi-calculator-chart{
    margin-left: 100px;
    width: 30%;
    /* border: 1px solid red;   */
}
.mbi-calculator-chart h2{
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

th{
    font-size: 16px;
    font-weight: 400;
}
table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    text-align: left;
    padding: 10px 20px;
}
td{
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}
.calculate-your-bmi{
    width: 40%;
    margin-right: 60px;
    /* border: 1px solid red; */
}

.bmi-items-container{
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    grid-row-gap:    20px;
    /* grid-column-gap: 20px; */
    
    width: 100%;
    
    /* position: static; */
    
}
.calculate-your-bmi button {

    margin-top: 20px;
}
.bmi-contain{
    width: 100%;
    margin-top: 100px;
}
.bmi-contain h2{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.bmi-contain p{
    margin-bottom: 30px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 16px;
}
.bmi-items{
    width: 75%;
    /* margin-left: 20px; */
    /* border: 1px solid red; */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.5);
    
}

#bmi-items-5{
    grid-column: 1 / span 2;
    grid-row: 3;
    background: rgba(255, 255, 255, 0.1);
    width: 88%;
}

.primary-btn-bmi{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    margin-bottom: 30px;
}
.sex-selact{
   background: none;
   border: none;
   color: rgba(255, 255, 255, 0.5);
   margin-left: 120px;
}
.sex-selact-2{
   background: none;
   border: none;
   color: rgba(255, 255, 255, 0.5);
   margin-left: 220px;
}


@media screen and (max-width:576px) {
    .bmi-calculation{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
    }

    .mbi-calculator-chart{
        margin-left: 30px;
        /* margin-right:50px ; */
        width: 90%;
        /* border: 1px solid red;  */
    }
    .bmi-items-container{
        width: 170%;
        margin-left: -50px;
        grid-row-gap:    20px;
        /* grid-column-gap: 50px; */
        /* border: 1px solid red;  */
    }
    .bmi-items{
        width: 80%;
        
    }
    #bmi-items-5{
        width: 90%;
    }
    .bmi-items-container{
        display: grid;
        grid-template-columns: repeat( 2 , 1fr);
        grid-row-gap:    10px;
        grid-column-gap: 30px;
        /* border: 1px solid red; */
        width: 100%;
        /* position: static; */
        
    }
    .bmi-contain{
        width: 180%;
        margin-top: 30px;
        margin-left: -50px;
        /* border: 1px solid red; */
        margin-bottom: 20px;
    }
    .primary-btn-bmi{
        width: 120%;
        margin-left: -50px;
        margin-bottom: 30px;
    }
    .sex-selact{
        margin-left: 30px;
    }
    .sex-selact-2{
        margin-left: 30px;
    }
}

/* meet our teem section start */
.meet-our-team{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.meet-details{
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.meet-details h1{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);


}
.meet-details p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
}



.trainer-container{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:    20px;
    grid-column-gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

#trainer-1{
    width: 250px;
    height: 200px;
    background-image:linear-gradient(
        0deg,rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../images/trainer1.png");
        
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    background-blend-mode:overlay;

}
#trainer-2{
    width: 250px;
    height: 200px;
    background-image:linear-gradient(
        0deg,rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../images/trainer2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
   
    

}
#trainer-3{
    width: 250px;
    height: 200px;
    background-image:linear-gradient(
        0deg,rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),  url("../images/trainer3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    

}
#trainer-4{
    width: 250px;
    height: 200px;
    background-image: linear-gradient(
        0deg,rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../images/trainer4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    

}
#trainer-5{
    width: 250px;
    height: 200px;
    background-image: linear-gradient(
        0deg,rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../images/trainer5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    

}
#trainer-6{
    width: 250px;
    height: 200px;
    background-image: linear-gradient(
        0deg,rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../images/trainer6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    

}
.trainer >h3{
    font-size: 16px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-top: 150px;
    margin-left: 20px;
}
.trainer >p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}
/* meet our teem section end */
@media screen and (max-width:576px) {
    .meet-our-team{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
    }
    .meet-details{
        width: 100%;
    }
    .meet-details h1{
        font-size: 2rem;
        /* width: 100%;
        margin: 0 auto; */
    
    }
    .meet-details p{
        font-size: 14px;
        /* width: 60%; */
        /* border: 1px solid red; */
         text-align: center;
         line-height: 24px;
    }
    .trainer-container{
        display: flex;
        flex-direction: column;
    }
}



/* footer section style */
footer{
    /* border: 1px solid red; */
    width: 100%;
    height: 450px;
    margin-top: 50px;
    margin-bottom: 100px;

    background: rgba(255, 255, 255, 0.1);
}
.footer-section{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

.footer-log-details{
    width: 400px;
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-left: 50px;
}
.footer-log-details h1{
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    color: rgb(230, 83, 60);
}

.footer-log-details p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
    margin: 20px 0;
}
.get-started{
    width: 50%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin-left: 50px;
}
.get-started h2{
    font-size: 1.5rem;
    font-weight: 700;

}
.get-started p{
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0;
    color: rgba(255, 255, 255, 0.5);
}


.copy-right{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copy-right hr{
    width: 80%;
    margin: 30px auto;
    border: 2px solid rgba(255, 255, 255, 0.1);;
    
}
.copy-right p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    
    
}

/* footer responsive */
@media screen and (max-width:576px) {
    footer{
        display: flex;
        flex-direction: column;
        height: 100%;
        /* border: 1px solid red; */
    }
    .footer-section{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
    }
    .footer-log-details{
        width: 90%;
        /* border: 1px solid red; */
        margin-left: -10px;
    }
    .get-started{
        display: flex;
        flex-direction: column;
        margin-left: -10px;
    }
    .copy-right p{
        margin-bottom: 20px;
    }
}